
    <div class="container">
    <h2>Список пользователей</h2>
    <ul class="users-list">
        <% @users.each do |user|%>
            <li>
                <div class="user-card">
                    <a class="text-black" href="<%= user_path(user) %>">
                        <%= image_tag user.avatar.variant(resize_to_limit: [100, 100]), :class => "small-avatar" %>
                        <p><%= user.username %></p>
                    </a>
                </div>
            </li>        
        <%end%>
    </ul>
</div>