<div class="container user-profile">

    <div class="user-info">
        <p>Профиль пользователя:</p>
        <h3><%= @user.username %></h3>


        <%= image_tag @user.avatar.variant(resize_to_limit: [200, 200]), :class => "small-avatar" %>
        <p>Email: <%= @user.email%></p>
        <p><%= @user.followers_count %>Follower</p>

        <% if current_user.following?(@user) %>
        <%= button_to 'Unfollow', unfollow_path(@user.id), method: :delete %>
        <% else %>
        <%= button_to 'Follow', follow_path(@user.id), method: :post %>
        <% end %>

        <%= link_to "Back", :back %>
    </div>

    <div class="user-posts">
        <h2>Посты пользователя</h2>
                    <ul>
            
            <% @user.posts.each do |post| %>
            <li class="post bg-grey">
                <a class="text-black underline" href="<%= post_path(post) %>">
                    <div class="bg-slate-50 flex flex-col gap-4 rounded p-4">
                        <h3 class="text-black"><%=post.title%></h3>
                        <%= image_tag post.images[0].representation(resize_to_limit: [1024, 400]), :class=>"rounded-4 width-full object-fit-cover" %>           
                        <p class="text-slate-500"><%=post.body%></p>
                        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                        <div class="flex items-center gap-2">
                        <%= image_tag @user.avatar.representation(resize_to_limit: [100, 100]), :class=>"rounded-full small-avatar" %>
                        <p class=" text-black"><%= post.user.username %></p>
                        </div>
                    </div>
                </a>
            </li>
            <%end%>
        </ul>
    
    </div>

    <div class="user-followed-posts">
        <h2>Лента</h2>
            <ul>
            
            <% @following_posts.each do |post| %>
            <li class="post bg-grey">
                <a class="text-black underline" href="<%= post_path(post) %>">
                    <div class="bg-slate-50 flex flex-col gap-4 rounded p-4">
                        <h3 class="text-black"><%=post.title%></h3>
                        <%= image_tag post.images[0].representation(resize_to_limit: [1024, 400]), :class=>"rounded-4 width-full object-fit-cover" %>           
                        <p class="text-slate-500"><%=post.body%></p>
                        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                        <div class="flex items-center gap-2">
                        <%= image_tag @user.avatar.representation(resize_to_limit: [100, 100]), :class=>"rounded-full small-avatar" %>
                        <p class=" text-black"><%= post.user.username %></p>
                        </div>
                    </div>
                </a>
            </li>
            <%end%>
        </ul>

    </div>    
</div>
