<header style="width: auto">
<div class="nav flex">
    <div class="site-logo">
    <a href="/"><%= image_tag "LogoSample_ByTailorBrands.jpg"%></a> 
    </div>
    <p class="navbar-text">
    <%= link_to "Пользователи", users_path(), :class => 'navbar-link', :style => 'margin-right: 10px' %>
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.username %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
</div>
</header>