<%= form_with :html => {:multipart => true}, model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
     <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
 
    <%= form.file_field :images,  multiple: true %>
    <% @post.errors.full_messages_for(:images).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <button class=""><%= form.submit %></button>
<% end %>