<div class="post">
    <a class="text-black" href="<%= post_path(post) %>">
        <div class="bg-slate-50 flex gap-4 rounded p-4">
            <h2 class="post-title"><%=post.title%></h2>
            <%= image_tag post.images.first.representation(resize_to_limit: [1024, 400]), :class=>"post-preview-image rounded-4 width-full object-fit-cover" %>
            <p><%= post.likes.count %> <i class="fa-solid fa-heart"></i></p>
            <p class="text-slate-500 width-full" style="word-wrap: break-word;"><%= truncate(post.body) %></p>

            <div class="author-container flex row">
                <%= image_tag post.user.avatar.variant(
                    resize_to_limit: [50, 50], 
                        format: :jpeg, 
                        sampling_factor: "4:2:0", 
                        strip: true, 
                        interlace: "JPEG", 
                        colorspace: "sRGB", 
                        quality: 80), :class=>"rounded-full small-avatar" %>
                
                <p class="text-black"><%= post.user.username %></p>
            </div>
        </div>
    </a>
</div>