
<h2>Top posts</h2>
  <div class="posts-container">
    <% @top_posts.each do |post|%>
      <%= render 'post', post: post %>
    <%end%>
  </div>

<h2>All posts</h2>
  <div class="posts-container">
    <% @posts.each do |post|%>
        <%= render 'post', post: post %>
    <%end%>
  </div>

<%= paginate @posts %>


<%= link_to "Добавить пост", new_post_path, :class=>"add-post-btn" %>
