
  <h1><%= @post.title %></h1>
    <ul class="image-grid none-left-padding" style="list-style-type:none">
        <% @post.images.each do |file| %>
        <li>
          <% if file.representable? %>
            <%= image_tag file.representation(resize_to_limit: [1024, 400]), :class=>"rounded-4 width-full object-fit-cover" %>
          <% else %>
            <%= link_to rails_blob_path(file, disposition: "attachment") do %>
              <%= image_tag "placeholder.png", alt: "Download file" %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
<p><%= @post.user.followers_count %>Follower</p>

<% if current_user.following?(@post.user) %>
  <%= button_to 'Unfollow', unfollow_path(@post.user.id), method: :delete %>
<% else %>
  <%= button_to 'Follow', follow_path(@post.user.id), method: :post %>
<% end %>

<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike post', post_like_path(@post, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like post', post_likes_path(@post), method: :post %>
    <% end %>
  
  
  <p><%= @post.body %></p>

  <a class="link-to-profile" href="<%= user_path(@post.user) %>">
    <%= image_tag @post.user.avatar.variant(resize_to_limit: [100, 100]), :class => "small-avatar" %>
    <p><%= @post.user.username %></p>
  </a>
  <% if current_user == @post.user || current_user.role == "admin"%>
    <ul class="flex gap-4">
        <li class="underline"><%= link_to "Редактировать", edit_post_path(@post)%></li>
        <li class="underline"><%= link_to "Удалить", post_path(@post), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %></li>
    </ul>
  <% end %>

<% if @post.comments.any? %>
  <h2>Comments</h2>
  <%= render @post.comments %> 
<%end%>
<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <% end %>


