/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
    width: 100vw;
}

body {
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    /* width: 100%; */
    margin-left: 0px;
    margin-right: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-logo {
    margin-right: auto;
}

.container {
    width: 1394px;
    margin: 0 auto;
    color: #fff;
}

.posts-container {
    width: 1394px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px
}

.post {
    background-color: #fff;
    flex-basis: 33%;
    padding: 16px;
    border-radius: 8px;
    max-width: 422px;
}


/* .post:hover {
    box-shadow: 0px 5px 10px 0px rgba(32, 26, 26, 0.5)
} */

.post-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 8px;
    list-style-type: none;
    margin-left: 0;
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.post a {
    text-decoration: none;
    color: #181818;
}

.post-preview-image {
    height: 300px;
}

.post-list li {
    flex: 1 1 33.3%
}

.post-list::marker {
    display: none;
}

.add-post-btn {
    padding: 6px 12px;
    background-color: #fff;
    color: #181818;
    text-decoration: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    display: block;
    width: 150px;
    text-align: center;
}

.add-post-btn:hover {
    background-color: #181818;
    color: #fff;
}

.author-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.small-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.rounded-4 {
    border-radius: 4px;
}

.width-full {
    width: 100%;
}

.object-fit-cover {
    object-fit: cover;
}

.none-left-padding {
    padding-left: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 8px;
    margin-bottom: 20px;
}

.users-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 8px;
    list-style-type: none;
    margin-left: 0;
}

.user-profile {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}

.user-profile ul {
    list-style: none;
    padding-left: 0px;
}

.user-info,
.user-posts,
.user-followed-posts {
    flex: 1 1 33.3%;
}

.link-to-profile {
    display: flex;
    flex-direction: row;
    gap: 8px;
    min-width: 200px;
    border-radius: 4px;
    background-color: #f5f5f5;
    width: 250px;
    padding: 8px;
}

.footer-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    min-height: 100px;
}

.footer-text {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .post-container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .post {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .posts-container {
        width: 100%;
    }
    .post {
        flex-basis: 100%;
        width: 100%;
    }
}